<p id="notice"><%= notice %></p>

<h1 align="center">Listing Search Result</h1>

<table align="center", style="border: 1px solid black;">
  <thead>
    <tr>
      <!-- <th>Search</th> -->
      
      <th>Searched Title</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% if @products.present? %>
    <% @products.each do |product| %>
        <% @title = JSON.parse(product.title) %>
        <% @description = JSON.parse(product.description) %>
        <% @url = JSON.parse(product.url) %>
        <tr></tr>
        <tr>
        <td><%= product.search %></td>
          <td><%= link_to 'Show', product_path(product) , style: "color: blue; text-decoration: none;"%></td>
        </tr>

        
        
    <% end  %>
  <% end %>
  </tbody>
</table>

<br>
        

<%= link_to 'New Search', new_product_path, style: "color: blue; text-decoration: none;" %>
